@font-face { 
    font-family: 'CocaCola'; 
    src: url('fonts/CocaCola.woff') format('woff');
    font-weight: normal; 
    font-style: normal; 
}

html,
body{
	margin: 0;
	padding: 0; 
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    scroll-behavior: smooth;
}

/*  */
img[alt="Картинка"]{
   
   
   
}

img[alt="Картинка"]:hover{
    
    border: solid 1px red;
    opacity: 0.8;
    
}



a {
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    
}


.menu {
    position: fixed;
    top: 0;
    display: inline-block;
    width: 100%;
    background-color: darkslateblue;
    border-bottom: 4px solid green;
    box-sizing: border-box;
   
    z-index: 1000;
    height: 65px;

}

.menu ul {
    padding: 0;
    margin: 0;
    
}

.menu li {
    
    display: inline-block;
    margin-left: -5px;
    /*  */
    transform: rotate(-30deg);
    transition: 500ms;
    
}

.menu li:hover{
    transform: rotate(0deg);
}

.menu li:hover {
    background-color: green; 
}

.menu li:active {
    
    background-color: orange; 
}

.menu li:first-child {
    background-color: green; 
}

.container{
    width: 80%;
    margin: 0 auto;
}

.header {
    min-height: 100vh;
    background-image: url('images/background.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
}

.header .content {
    padding: 15% 0;
}

.block {
    box-sizing: border-box;
    min-height: 100vh;
	background-color: #fff;
    padding: 65px 15px 0px 15px;
    
}

.header h1{
   
    color: #fff;
    /*  */
    display: inline-block;
    transform: scale(2) skew(-30deg);

}

.header p{
    color: #fff;
    transform: scale(1,1.4);
    margin: 50px auto;
}

.header a{
    font-size: 30px;
    font-weight: bold;
    opacity: .5;
    /*  */
    transform: scale(2,1.2);
}

.header a:hover{
    opacity: 1;
    text-decoration: underline;
}


.block2 {
    background-image: url('images/background.jpg');
    background-attachment: fixed;
    /*  */
    background-repeat: repeat;
    background-position: center center;
    color: white;
}

.block2 ul {
    margin: 0;
    list-style: circle inside;
}

.block3 img {
    width: 100%;
}

.block3 p {
    line-height: 25px;
    text-align: justify;
    /*  */
    hyphens: auto;
    
}

.title-h2{
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
	letter-spacing: 2px;
}

.red-line{
    text-indent: 15px;
}

.cola-text {
    font-family: 'CocaCola';
    font-size: 30px;
    /*  */
    transform: translate(-60px,60px);
    
}


/*  */
.tree-columns-block {
    column-count: 3;
}

.tree-columns-block ul  {
    color: white;
    font-weight: bold;
}

.tree-columns-block > ul  {
    color: orange;
}

.footer{
    width: 100%;
    background-color: gray;
    padding: 30px 0;
    color: #ffffff;
    font-weight: bold;
    
}

.containerFooter{
    width: 80%;
    margin: 0 auto;
}


.before1{
    list-style: none;
}

.before2 li:before{
    content: "\f2be";
    font-family: "FontAwesome";
}



/*  */
.counter li{
    list-style: none;
}


/*  */

ol { counter-reset: list1; }

ol li:before{
    counter-increment: list1;
    content: counter(list1) ". "; 
}

/*  */

ol ol { counter-reset: list2; } 
   
ol ol li:before {
    counter-increment: list2; 
    content: counter(list1) "." counter(list2) ". "; 
}

/*  */

ol ol  ol{ counter-reset: list3; } 

ol ol ol li:before {
    counter-increment: list3; 
    content: counter(list1) "." counter(list2) ". " counter(list3) ". "; 
}

/*  */

@media screen and (max-width: 600px){
    .header h1 {
        
        font-size: 12px;
       margin-top: 0%;
        padding: 0 0 10px 0;
    }

    .title-h2{
        
    }

    .header a{
        transform: scale(0.8);
        
    }

    .menu{
        text-align: center;

    }

    .menu a{
        padding: 10px;
    
    }

    .menu li{
        transform: rotate(0);
    }

    .menu ul{
        margin-top: 10px;
        
    }

    .cola-text{
        transform: translate(0);
        text-align: justify;
        font-size: 20px;

    }

    .container, .block2{
        padding: 0%;
       
    }

    p{
        padding-right: 6px;
    }

    .block3 p{
        font-size: 0.9em;
        line-height: 1.4em;
    }

    .tree-columns-block {
       padding-top: 15px;
       
        column-count: 2;
       
    }


    .title-h2{
        padding-top: 10px;
        font-size: 20px;
        margin: 0%;
        padding: 0%;
        
    }

    
    .container{
        width:90%;
        margin: 0 auto;
        padding-top: 80px;
        
    }
    
    .tree-columns-block ul li ul {
        font-size: 0.86em;
        padding-left: 8px;
           
    }

    .container.footer{
        font-size: 0.8em;
        
    }

    
}




   

