@font-face{
    font-family: CocaCola;
    src: url('fonts/CocaCola.woff');
}

html, body{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    font-family: 'Tahoma';
} 
    

p{
    line-height: 2em;
    text-align: justify;
    text-indent: 2em;
}

.title{
    font-family: 'CocaCola';
    font-size: 40px;
   
    padding: 24px;
    display: block;
}

.link{
    display: inline-block;
    margin: 20px 20px;
    font-family: 'CocaCola';
    font-size: 28px;
}


.pic-master{
    
    display: block;
    width: 260px;
    margin:0 auto;
}
    

.page{
    width: 100%;
    min-height: 100vh;
    text-align: center;
   
    
}

.block-one{
    background-image: url(images/bg-1.jpg);
    background-size: cover;
    color: white;
    padding-top: 1px;
}

.block-two{
    background-image: url(images/bg-2.jpg);
    background-size: 200% 115%;
    background-position: bottom;
}

.block-three{
    background-image: url(images/bg-3.jpg);
}

.title-one, .title-three{
    color:#fad700; 
}

.title-two{
    color:#b8860b; 
}

.link-one{
    color: #a2d3e6;
}

.link-two{
    color:#556b2f;
}

.link-three{
    color: #808000;
}


.cell{
    border-style: solid;
    border-color: #223d88;
    border-width: 3px;
   
}

.tabl{
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(57, 238, 34, 0.877);

}

th{
    text-transform: uppercase;
}

td{
    font-variant-caps: all-small-caps;
    text-align: justify;
}

.menu{
    list-style: none;
    background-color: #1dfa00b4;
    border: solid 1px #a2d3e6;
    border-radius: 20px;
    padding-left: 20px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    
}

.menu li{
    display: inline-block;
    padding: 20px 0px 20px 0px;
    
}

.menu-link{
    text-decoration: none;
    font-family: Impact;
    font-variant: normal;
    font-size: 28px;
    padding: 20px 40px 20px 40px;
}

.menu-link:hover {
    color: rgb(230, 230, 221); /* Цвет ссылки */ 
} 

.menu-link:active {
    color: rgb(219, 240, 28); /* Цвет активной ссылки */ 
}

.menu li:hover{
    background: #ec423d;
}

.link:hover{
    color: rgb(170, 59, 137);
}

.link:active {
    color: rgb(219, 240, 28);
}
