@font-face {
    font-family: 'CocaCola';
    src: url('fonts/CocaCola.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    scroll-behavior: smooth;
}

img[alt="Картинка"] {
    opacity: 0.5;
}

a {
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
}

.menu {
    background-color: darkslateblue;
    border-bottom: 4px solid green;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 65px;
}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
    margin-left: -5px;
}

.menu li:hover {
    background-color: green;
}

.menu li:active {
    background-color: orange;
}

.menu li:first-child {
    background-color: green;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    min-height: 100vh;
    background-image: url('images/background.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
}

.header .content {
    padding: 15% 0;
}

.block {
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #fff;
    padding: 65px 15px 0px 15px;
}

.title-h1 {
    margin-top: 0;
    color: #fff;
}

.header p {
    color: #fff
}

.header a {
    font-size: 30px;
    font-weight: bold;
    opacity: .5;
}

.header a:hover {
    opacity: 1;
    text-decoration: none;
}

.block2 {
    background-image: url('images/background.jpg');
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center center;
    color: white;
}

.block2 ul {
    margin: 0;
    list-style: circle inside;
}

.block3 img {
    width: 100%;
}

.block3 p {
    line-height: 25px;
    text-align: justify;
    hyphens: auto;
}

.title-h2 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 2px;
}

.red-line {
    text-indent: 15px;
}

.cola-text {
    font-family: 'CocaCola';
    font-size: 30px;
}

.tree-columns-block {
    column-count: 3;
}

.tree-columns-block ul {
    color: white;
    font-weight: bold;
}

.tree-columns-block>ul {
    color: orange;
}

.footer {
    background-color: gray;
    padding: 30px 0;
    color: #ffffff;
    font-weight: bold;
}


/** Анимация для кнопки вниз **/
.scroll-to{
    border: 1px solid orange;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px auto;
    transform: rotate(90deg);
    overflow: hidden;
}

.scroll-to span{
    display: block;
    color: #fff;
    font-size: 30px;
    margin-top: 1px;
    animation: strelka 1.2s infinite ease-in-out normal forwards;
}

.scroll-to span:hover{
    animation: none;
}

.header a{
    width: 30px;
    padding: 0;
    margin: 0 auto;
    text-decoration: none;
}

@keyframes strelka{
    from{
        transform: translateX(-30px);
    }

    to{
        transform: translateX(30px);
    }
}

.header .content p,
.header .content h1 {
    animation: animation_text 2s linear ;
    opacity: 0;
    animation-fill-mode: forwards;
}

.header .content p{
    animation-delay: 1s;
}

@keyframes animation_text {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
    
